<style>


#carts {  
  width: 100%;  
  padding: 10px;  
  margin-bottom: 10px;  
  border: 1px solid #ccc;  
  resize: vertical;  
}  
  
#carts, #total, #cash, #change {  
  font-size: 12px;  
}  
  
#carts, #total, #cash {  
  padding: 10px;  
  margin-bottom: 10px;  
  border: 1px solid #ccc;  
}  
  
#total, #change {  
  background-color: #f0f0f0;  
  border: none;  
  padding: 10px;  
  font-weight: bold;  
  color: #00698f;  
</style>
